.footer{
  background-color: var(--secondary);
  padding: 30px 0;
  color: var(--light-color);
  margin-top: 50px;

  .copy{
    font-size: 13px;
    line-height: 1;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list{
    display: flex;
    gap: 2em;
  }
  &__menu-link{
    font-size: 14px;
  }
}
