.tech{
  &__list{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);

  }
  &__item{
    padding: 1rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    color: var(--light-color);
    cursor: pointer;
    img{
      height: 40px;
      width: auto;
      object-fit: contain;
      margin-bottom: 1rem;
    }
  }

}