// colors
:root {
  // base
  --font-family: "Roboto" ,sans-serif;
  --content-width: 1600px;
  --container-offset: 15px;
  --border-radius: 5px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --body-bg: #0d1b2a;
  --body-bg: #0A192F;

  --primary: #2c4654;
  --primary: #61F7D5;

  --primary-hover: #415a77;

  --secondary: #1e262f;
  --secondary: #172A46;

  --secondary-white: #8897b5;

  --third: #f2e9e4;
  --desc-color: #94a3b8;


  --white-color: #fff;
  --light-color: #e0e1dd;


  --dark-color: #161617;

}
