.page-404{
  background-color: var(--body-bg);
  color: var(--white-color);
  fill: var(--dark-color);
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  align-items: center;
  .main{
    margin-top: 0;
    height: 100%;
  }
  &__inner{
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .svg{
    color: var(--white-color);
    fill: var(--white-color);
  }
  &__link{
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 4em;
    gap: 15px;
    .svg{
      width: 24px;
      height: 24px;
      fill: var(--white-color);
    }
  }
  &__text{
    margin-bottom: 4em;
  }
}
