.contacts--page{
  svg{
    fill: var(--primary);
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }
  &__item{
    border-radius: var(--border-radius);
    background-color: var(--body-bg);
    padding: 40px 30px;
    overflow: hidden;
  }
  .title-box{
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    h4{
      margin: 0 0 0 0.5em;
    }
  }
}