---
import Layout from '../layouts/Page.astro';
---

<Layout
        title="Contacts"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date('August 08 2021')}
>
    <div class="contacts--page">
    
    </div>
</Layout>
