---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Work from "../components/Work/Work.astro";
import Hero from "../components/Hero/Hero.astro";
import Button from "../components/Button/Button.astro";
---


<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <section class="welcome">
        <div class="container container-md">
            <div class="welcome__inner">
                <h1>Michael Khamardiuk</h1>
                <h2>I'm a Front-End Web Developer, creating awesome and responsive websites in
                    <mark>Charlotte, NC</mark>
                </h2>
                <Button href="#" class="button-lg" variant="primary">Resume</Button>
            </div>
            <!--<img src="public/bg.png">-->
        </div>
    </section>
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="about__inner">

                <div class="about__content">
                    <h2 class="about__title h2">
                        Who am I?
                    </h2>
                    <p>
                        A 24 year old self-taught front-end web developer
                    </p>
                    <p>
                        I’m highly motivated and have a true passion for this industry. Ever since I produced "Hello World" in the console of my first application I knew I was hooked into the world of software development.
                    </p>
                    <p>
                        I care deeply about perfecting my craft on a daily basis and I'm always striving to be a better developer than I was the day before.
                    </p>
                </div>
                <div class="about__img">
                    <img src="/public/images/about-test.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>
    <Work/>
</main>
<Footer/>
</body>
</html>
