---
const today = new Date();
---

<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="copy">
				&copy; {today.getFullYear()} Your name here. All rights reserved.
			</div>
			<nav class="footer__menu">
				<ul class="footer__menu-list">
					<li><a class="footer__menu-link" href="/privacy">Privacy policy</a></li>
					<li><a class="footer__menu-link" href="/terms">Terms & Condition</a></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>

