---
import React from "react";
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Button from "./Button/Button.astro";

const {slug} = Astro.params;

import Navigation from "./Nav/Navigation";
// const page = menu.find((item) => item.slug === slug);

---

<header id="header" class="header">
	<div class="container">
		<div class="header__inner">
			<a class="logo" href="/">Hamadev.net</a>
			<Navigation/>
			<Button href="/contacts" class="button-sm" variant="primary">Contacts</Button>
		</div>
	</div>
</header>


