---
const today = new Date();
---

<div class="work section-bg">
    <div class="container">
        <ul class="work__list">
            <li class="work__item">
                <div class="work__info">
                    <h4>Front-end Developer</h4>
                    <div class="flex">
                        <span>March 2021 - October 2021</span>
                    </div>
                </div>
                <div class="work__content">
                    <h4><a href="https://siteplus.com/" target="_blank">Siteplus</a> - Kyiv, Ukraine</h4>
                    <p>Worked as the Front-end Developer for the firmCreated website builder for hosting companies, domain registrars, telcos, and agencies.</p>
                </div>
            </li>
            <li class="work__item">
                <div class="work__info">
                    <h4> Front-End Developer</h4>
                    <div class="flex">
                        <span>November 2019 - December 2020</span>
                    </div>
                </div>
                <div class="work__content">
                    <h4>Web Technologies - Khmelnitskiy, Ukraine</h4>
                    <p>Worked as the main Full Stack Developer for the firmWorked closely with programmers and clients
                        to meet project requirements, goals, and desired functionality.Created custom websites to
                        client’s specific order that varied in complexity on different topics, from the beginning to the
                        finished product on the Diafan CMS system</p>
                </div>
            </li>
        </ul>
    </div>
</div>